.logo_assoec img {
    height: auto;
    margin-right: 10px;
}

.textfield {
    margin-bottom: 20px;
}

.text  {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
    color: #273e74;
    margin-left: 3px;
}

.images img {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {
    .main_container {
        width: 100vw;
        height: 100vw;
    }

    .form_container {
        padding: 40px;
        margin: 0 auto;
        width: 40vh;
        height: 86.2vh;
    }

    .textfield {
        margin-bottom: 10px;
    }

    .logo_assoec {
        padding: 0;
        margin-bottom: 20px;
    }

    .logo_assoec img {
        width: 100px;
        height: 100px;
        margin-right: 0;
    }

    .titulo {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .paragrafo {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .primeiro_acesso {
        margin-top: 10px;
    }

    .grupo_asoec {
        margin-top: 0px;
    }
         
    .parte_dois_container {
        width: 56vw;
    }
}

@media screen and (max-width: 768px) {
    .main_container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        background-image: none;
    }
       
    .form_container {
        padding: 0;
        margin: 0 auto;
        width: 85vw;
        height: auto;
        box-shadow: none;
    }
      
    .titulo {
        font-size: 25px;
        margin-bottom: 5px;
    }
    
    .textfield {
        margin-bottom: 10px;
    }
         
    .paragrafo {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .primeiro_acesso {
        margin-top: 10px;
    }

    .logo_assoec {
        padding: 0;
        margin-bottom: 5px;
    }
        
    .logo_assoec img {
        width: 80px;
        height: 80px;
        margin-right: 0;
    }
        
    .grupo_asoec {
        display: none;
        margin-top: 0px;
    }

    .parte_dois_container {
        display: none;
    }
}