.logo_assoec img {
    height: auto;
    margin-right: 10px;
}

.textfield {
    margin-bottom: 20px;
}

.text  {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
    color: #273e74;
    margin-left: 3px;
}

.images img {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 1440px) {
    .form_container {
        width: 82% !important;
        height: 84.6vh !important;
    } 

    .logo_assoec {
        padding: 0;
        margin-bottom: 0px;
    }

    .grupo_asoec {
        margin: 0;
    }

    .parte_dois_container {
        margin: 0;
        width: 100vh !important;
        height: 96.4vh !important;
    }
}

@media (max-width: 1366px) {
    .form_container {
        width: 81.2% !important;
        height: 84.6vh !important;
    }
 
    .logo_assoec {
        padding: 0;
        margin-bottom: 0px;
    }
 
    .grupo_asoec {
        margin: 0;
    }
  
    .parte_dois_container {
        margin: 0;
        width: 94.5vh !important;
        height: 96.4vh !important;
    }
}

@media (max-width: 1024px) {
    .form_container {
        width: 45.3vh !important;
        height: 84.6vh !important;
    }

    .parte_dois_container {
        width: 60vh !important;
        height: 96.4vh !important;
    }
}

@media (max-width: 900px) {
    .main_container {
        background-image: none;
    }

    .form_container {
        width: 90.3vh !important;
        height: 84.6vh !important;
    }

    .logo_assoec {
        padding: 0;
        margin-bottom: 20px;
    }

    .parte_dois_container {
        display: none;
    }
}

@media (max-width: 768px) {
    .form_container {
        width: 75vh !important;
        height: 85vh !important;
    }
}

@media (max-width: 500px) {
    .form_container {
      width: 82% !important;
      height: 85vh !important;
    }

    .logo_assoec {
        padding: 0;
        margin-bottom: 5px;
    }

    .logo_assoec img {
        width: 100px;
        height: 100px;
    }

    .titulo {
        font-size: 36px;
    }

    .parte_dois_container {
        display: none;
    }
}

@media (max-width: 425px) {
    .form_container {
        padding-left: 25px;
        padding-right: 25px;
        width: 40vh !important;
        height: 90vh !important;
        box-shadow: none;
    }
    
    .logo_assoec {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 375px) {
    .form_container {
        padding-left: 10px;
        padding-right: 10px;
        width: 40vh !important;
        height: 90vh !important;
        box-shadow: none;
    }

    .logo_assoec {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    .titulo {
        font-size: 34px;
    }
}

@media (max-width: 320px) {
    .main_container {
        padding: 0;
        margin: 0;
        background-image: none;
    }
    
    .form_container {
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        width: 35vh !important;
        height: 90vh !important;
        box-shadow: none;
    }

    .logo_assoec {
        padding: 0;
        margin-bottom: 30px;
    }

    .titulo {
        font-size: 25px;
    }

    .paragrafo {
        font-size: 15px;
    }

    .images img {
        margin: 8px;
        width: 85px;
        height: 85px;
    }
}