.container {
    position: relative;
    display: grid;
    min-height: 100vh;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    background-image: url('../../public/images/students.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.area_segunda_parte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95.6vh;
    width: 141vh;
    background-image: url('../../public/images/students.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    height: 85vh;
    width: 50vh;
    max-width: 90%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.form_login h1 {
    margin-bottom: 1px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.form_login p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

.logo_assoec {
    grid-area: image;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 2.5em;
}

.logo_assoec img {
    height: auto;
    margin-right: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.textfield {
    margin-bottom: 30px;
}

.btn_login {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    padding: 1em;
    letter-spacing: 2px;
    color: white;
    background-color: #273e74;
}
  
.btn_login:hover {
    background-color: #273e74da;
}
